* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('wallpaper.jpg');
}

/* Navbar */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Header Titles */
.titling {
    margin-top: 50px;
    color: white;
    margin-bottom: 30px;
}

/* Other */
.logo img {
    max-width: 100px;
}

main {
    padding-top: 100px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
}
